--indent 4
--linebreaks lf
--semicolons inline
--commas inline
--trimwhitespace always
--allman false
--ifdef no-indent
--wraparguments before-first
--wrapcollections before-first
--closingparen same-line
--binarygrouping 4,8
--commas always
--decimalgrouping 3,6
--fractiongrouping disabled
--hexgrouping 4,8
--octalgrouping 4,8
--patternlet inline
--self remove
--stripunusedargs closure-only
--header ignore
--swiftversion 6.0
--exclude design,build,.build,DerivedData,CatholicFastingApp.xcodeproj
